body {
    background-color: rgb(214, 214, 214);
}
.container {
    width: 250px;
    height: 400px;
    margin: 80px auto;
    background: rgb(214, 214, 214);
    box-shadow: 5px 5px 10px #b6a9a9,
                -5px -5px 10px #fff;
    border-radius: 12px;
}
.calculator-box {
    width: 200px;
    margin: 20px auto;
}
#display {
    border: none;
    outline: none;
    color: black;
    text-align: right;
    height: 40px;
    font-weight: 600;
    padding: 15px;
    margin: 30px -10px 30px;
    background: transparent;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #fff;
}
.button {
    margin: 15px 0 0  5px;
    width: 40px;
    height: 42px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(214, 214, 214);
    box-shadow: 5px 5px 10px #b6acac,
                -5px -5px 10px #f4f4f4ff;
    display: inline-block;
}
.button:hover {
    box-shadow: inset 1px 1px 2px #babecc,
                inset -1px -1px 2px #fff;
}
.clearButton {
    background: blueviolet;
    color: white;
}
.mathbutton {
    background: dimgrey;
    color: white;
}
